.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 5px;
    height: 30%;
    border-bottom: solid black 1px;
    align-items: center;
    background-color: white;
    z-index: 1;

}

.navbar__logo {
    color: blueviolet;
}

.navbar__search {
    border-radius: 30px;
    flex: 1;
    max-width: 700px;
    height: 40px;

}

.navbar__1 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.navbar__search:hover {
    border-color: blueviolet;
    color: blueviolet;

}

.navbar__login {
    border-radius: 5px;
    width: 100px;
    border-color: blueviolet;
    color: #6D28D2;
    cursor: pointer;
}

.navbar__login:hover {
    background-color: #EDE5F9;
}

.navbar__signup {
    border-radius: 5px;
    width: 100px;
    border-color: blueviolet;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

.navbar__signup:hover {
    color: white;
    background-color: #6D28D2;
}

.navbar p {
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.navbar p:hover {
    background-color: #EDE5F9;
}

.cart {
    position: relative;
    cursor: pointer;
}

.cart__1 {
    position: absolute;
    background-color: white;
    border: black solid 1px;
    width: 500%;
    border-radius: 10px;
    text-align: center;
    top: 80px;
    display: none;

}

.cart:hover .cart__1 {
    display: block;
}

.cart__1__p {
    color: #6D28D2;
}

.categories {
    display: flex;
    justify-content: space-around;
    border-bottom: solid black 1px;

}

.categories p {
    padding: 10px;
    border: solid blueviolet 2px;
    border-radius: 20px;
    background-color: #EDE5F9;
    color: black;
    cursor: pointer;

}

.categories p:hover {
    transition: 2s;
    background-color:transparent;
    color: black;
    border: solid blueviolet 2px;

}

.Imgg {
    position: relative;
}

.Imgg img {
    width: 100%;

}

.courses {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding: 10px;
}

.courses__1 {
    width: 300px;

}

.courses__1 img {
    height: 50%;
    width: 100%;
}

.Recommended__desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5px;
    padding: 10px;
}

.Recommended__desc p {
    padding: 10px;
    border: solid blueviolet 2px;
    border-radius: 2px;
    background-color: #EDE5F9;
    color: black;
    flex-grow: 1;
    width: 25%;

}

.Recommended__desc p:hover {
    background-color: #6D28D2;
    cursor: pointer;
}

.Recommended__title {
    padding: 10px;
}

.popular__sec-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding: 10px;
}

.popular__sec-2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding: 10px;
}

.footer__1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.footer__2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
}

.Imgg__w {
    width: 25%;
    border: none white 1px;
    background-color: white;
    padding: 10px;
    z-index: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    animation: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.Imgg__w__1 {
    border-radius: 5px;
    width: 100px;
    border-color: blueviolet;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    padding: 10px;
    position: relative;
    left: 30px;
}

.Imgg__w__1:hover {
    color: white;
    background-color: #6D28D2;
}

.Imgg__w__2 {
    border-radius: 5px;
    width: 100px;
    border-color: blueviolet;
    color: #6D28D2;
    cursor: pointer;
    padding: 10px;
    position: relative;
    left: 30px;
}

.Imgg__w__2:hover {
    background-color: #EDE5F9;
}

